body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.WebPdiv{
    display:flex;
    justify-content: center;
    align-items: center;
}

input[type="file"]::file-selector-button{
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    color:blue;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
    
}
input[type="file"]::file-selector-button:hover{
    background-color: #f3f4f6;
}
input[type="file"]::file-selector-button:active{
    background-color: #e5e7eb;
}

#Compress{
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    color:rgb(0, 181, 0);
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
    margin-right: 0.3%;
    margin-left: 0.3%;
}
#Compress:hover{
    background-color: #f3f4f6;
}
#Delete{
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    color:red;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
}
#Delete:hover{
    background-color: #f3f4f6;
}
#downloadLink{
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
    color:white;
    background-color: rgb(202, 111, 0);
    border: 2px solid rgba(0, 0, 0, 0.05);
    transition: background-color 200ms;
    margin: 1vw 43vw;
    text-decoration: none;
    font-size: 1.4vw;
}
#downloadLink:hover{
    background-color: rgb(248, 136, 0);
}